.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 60%;
  padding: 40px;
  border: 1px solid;

  .reg {
    padding: 5px;
    cursor: pointer;
  }

  .error {
    text-align: center;
    color: darkred;
  }
}

.submit {
  padding: 5px;
  cursor: pointer;
}
