.lobby {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 60%;
  padding: 40px;
  border: 1px solid;

  .reg {
    padding: 5px;
    cursor: pointer;
  }
}
