.message {
  border: 1px solid;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_active {
    box-shadow: 0px 0px 2px 2px darkblue;
    border-color: darkblue;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .meta {
      display: flex;
      gap: 5px;
    }

    .username {
      font-weight: 600;
    }
  }

  .body {
    gap: 10px;
    display: flex;
    flex-direction: column;

    .text {
      font-style: italic;
      flex-grow: 1;
    }

    .image {
      max-height: 300px;
      object-fit: contain;
      flex: 60%;
    }

    .button {
      align-self: flex-end;
    }
  }
}
